# Environment files
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml

# Laravel
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~
.project
.settings/
.buildpath

# Composer
composer.phar
composer.lock

# PHP
*.php~
*.bak


